[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools-pipfile = "==0.5.0"

[packages]
aiohttp = "==3.7.4.post0"
yarl = "==1.6.3"

[requires]
python_version = "3.9"
